<h1>Thank you <%= @user.name %> for joining The Machine!</h1>

<p>
  We really hope using this website is a positive experience. I built this small website with my own two hands and,
  even though it's definitely not the greates or most well-made thing in the world, I'm proud of both the website and myself,
  for not letting my own lack of confidence stop me.
</p>
