<!-- <div class="container xl mx-auto text-center w-full h-full bg-gray-200">
  <h1 class="font-bold pt-6">Welcome to The Machine!</h1>
  <h2 class="py-10">
    Welcome to The Machine! This website was built as a lgihtweight Facebook Clone as part fo the Ruby on Rails curriculum for
    The Odin Project. If you already have an account on this site, thank you! You can Sign in with the button below. Otherwise,
    you can create an account with the button in the navbar above.
  </h2>
  <button class="bg-blue-500 hover:bg-blue-700 text-white py-6 px-10 rounded">
    <%#= link_to "Sign In", new_user_session_path %>
  </button>
</div> -->

<!-- <div class="ui stacked segment">
  <h4 class="ui header">The Machine</h4>
  <p>Welcome to The Machine! This website was built as a lightweight Facebook Clone as part of the Ruby on Rails curriculum for
  The Odin Project. If you already have an account on this site, thank you! You can sign in with the button below. Otherwise,
  you can create an account with the button in the navbar above.</p>
  <button class="ui center aligned button">Sign In</button>
</div> -->

<h2 class="ui center aligned header">Welcome to The Machine</h2>
<div class="ui two column centered grid">
  <div class="column">
    <p>Welcome to The Machine! This website was built as a lightweight Facebook Clone as part of the Ruby on Rails curriculum for
    The Odin Project. If you already have an account on this site, thank you! You can sign in with the button below. Otherwise,
    you can create an account with the button in the navbar above.</p>
  </div>
  <div class="four column centered row">
    <div class="stackable column">
      <%= link_to "Sign In", new_user_session_path, class: "ui right floated button" %>
    </div>
    <div class="stackable column">
      <%= link_to "Sign Up", new_user_registration_path, class: "ui button" %>
    </div>
  </div>
</div>
