<%= render 'shared/user_info' %>

<div class="container mx-auto text-center mb-4 w-2/5 py-4">
  <% @users.each do |user| %>
    <div class="bg-white shadow-md py-4 mt-4">
      <div>
        <%= link_to user.name, user_path(user) %>
      </div>
      <div>
        <%= user.email %>
      </div>
      <button class="text-sm bg-blue-300 rounded mt-2 px-4 py-2">
        Add Friend
      </button>
    </div>
  <% end %>
  <div class="container mx-auto mt-4">
    <%= will_paginate @users %>
  </div>
</div>
