<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
  <div class="flex items-center text-white uppercase mr-6">
    The Machine
  </div>
  <div class="float-right">
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
</nav>
