<div class="ui inverted segment" style="margin-bottom:0;">
  <div class="ui inverted secondary menu">
    <p class="item title-card">The Machine</p>
  </div>
</div>

<!-- <div class="ui pointing menu">
  .ui.center.aligned.
</div> -->
