<% if flash[:notice] %>
  <p class="w-3/4 bg-red-400 mx-auto py-4 text-center">
    <%= notice %>
  </p>
<% end %>
<% if flash[:alert] %>
  <p class="w-3/4 bg-red-400 mx-auto py-4 text-center">
    <%= alert %>
  </p>
<% end %>
