<h2 class="ui center aligned header">Make A New Post</h2>
<%= simple_form_for(@post, url: posts_path, local: true, html: { class: "ui form" }) do |f| %>
    <div class="field">
      <%= f.input :body, as: :text, placeholder: "What's on your mind?", label: false %>
    </div>
    <div class="field">
      <%= f.input :post_img, as: :file , label: false %>
    </div>
    <div class="field">
      <%= f.button :submit, "Publish", class: "ui positive button" %>
    </div>
<% end %>
