<%= form_with(url: search_url, scope: :search, method: :GET) do |f| %>
  <div class="ui icon input">
    <%= f.text_field :search_name, placeholder: "Search Users...", html: { class: "prompt search-box" } %>
    <i class="search icon">
      <%= f.submit class: "search-btn" %>
    </i>
  </div>
<% end %>
