<aside class="float-left">
  <div class="h-1/4 bg-gray-300 ml-4 mt-6 py-20 px-24">
    <div class="float-left">
      User Photo
    </div>
  </div>
  <div class="bg-gray-400 ml-4 mt-4 py-8 text-center">
    <div><%= current_user.name %></div>
    <div><%= current_user.username %></div>
  </div>
  <div class="bg-gray-400 ml-4 mt-4 py-4 text-center">
    friends: # of friends
  </div>
</aside>
