<aside class="float-left">
  <% if @user.profile.profile_pic.attached? %>
    <%= image_tag @user.profile.display_image, class: "rounded-full items-center justify-center w-32 h-32 mx-20 my-6" %>
  <% end %>
  <div class="bg-gray-400 ml-4 mt-4 py-8 text-center rounded-full">
    <div><%= @user.profile.bio %></div>
  </div>
  <div class="bg-gray-400 ml-4 mt-4 py-4 text-center">
    <%= link_to "Friends:", user_friendships_path(@user.id) %> <%= "#{total_friends(current_user)} total" %>
  </div>
</aside>
