@import "semantic-ui";

.centered.card {
  margin-top: 20px;
  padding-bottom: 20px;
}

.sign-in, .sign-up, .profile-edit {
  padding-left: 20px;
  padding-right: 20px;
}

// .profile-edit {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.devise-link {
  display: inline-block;
}

// .left.floated {
//   margin-top: 50px;
//   margin-left: 30px;
// }

.inverted.segment {
  margin-bottom: 50px;
}

.info-header {
  padding-top: 25px;
}

.drop-item {
  color: black;
}

.profile-show {
  margin-left: 0;
}

.paginate,
.requests-index {
  text-align: center;
}

.button_to {
  display: inline;
}

// @import "bootstrap-sprockets";
// @import "bootstrap";
//
// body {
//   padding-top: 60px;
// }
//
// .center {
//   text-align: center
// }
//
// .center h1 {
//   margin-bottom: 10px;
// }
//
// .center-div {
//   margin: 0 auto;
//   width: 80%;
//   align-items: center;
// }
//
// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
//
// h2 {
//   font-size: 1.5em;
//   letter-spacing: -1px;
//   margin-bottom: 15px;
//   text-align: center;
// }
//
// li.signup {
//   margin-right: 10px;
//   padding-top: -10px;
//   text-transform: uppercase;
// }
//
// #logo {
//   float: left;
//   margin-right: 20px;
//   font-size: 1.7em;
//   text-transform: uppercase;
//   padding-top: 9px;
//   font-weight: bold;
// }
