@import "semantic-ui";

.centered.card {
  margin-top: 20px;
  padding-bottom: 20px;
}

.sign-in, .sign-up, .profile-edit {
  padding-left: 20px;
  padding-right: 20px;
}

// .profile-edit {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.devise-link {
  display: inline-block;
}

// .left.floated {
//   margin-top: 50px;
//   margin-left: 30px;
// }

.inverted.segment {
  margin-bottom: 50px;
}

.info-header {
  padding-top: 25px;
}

.drop-item {
  color: black;
}

.profile-show {
  margin-left: 0;
}

.paginate,
.requests-index {
  text-align: center;
}

.button_to {
  display: inline;
}
