@import "semantic-ui";

/* BG COLOR */

body {
  background: linear-gradient(to bottom right, #4DE1FF, #0073E6) fixed;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
}

p {
  font-family: 'Noto Sans';
  padding-bottom: 10px;
}

/* LINKS */

.maybe-friends > a {
  color: white;
  text-decoration: underline;
}

.activity-label > a {
  color: white;
}

.like-button {
  background: none;
  border: none;
}

/* HOME PAGE */

.flex-custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-form { height: 50%; }

.sign-up-form,
.edit-account-form {
  padding-top: 25px;
}

.edit-account-form * { color: white; }

.main-page,
.edit-page {
  background-size: cover;

  height: 100%;
}

.main-page { background-image: url('beach-friends.jpg'); }

.edit-page { background-image: url('chillin2.jpg'); }

.title-card,
.title-menu *,
.ui.header {
  font-family: 'Obidee Sans';
}

.title-card { font-size: 1.5em; }

.title-menu {
  font-size: .5em;
  background-color: black;
}

.ui.menu { margin: 0; }


.centered.card {
  margin-top: 20px;
  padding-bottom: 20px;
}

.ui.items.friend-item {
  background-color: #f8f8ff;
  padding: 10px;
  border-radius: 5px;
}

.friend-control-btn { width: 50%; }

// .profile-show { margin-left: 10px; }

.extra.content { text-align: center; }

.sign-in, .sign-up, .profile-edit {
  padding-left: 20px;
  padding-right: 20px;
}

// .profile-edit {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.devise-link {
  display: inline-block;
}

// .left.floated {
//   margin-top: 50px;
//   margin-left: 30px;
// }

.inverted.segment {
  margin-bottom: 50px;
}

.info-header {
  padding-top: 25px;
}

.drop-item {
  color: black;
}

.profile-show {
  margin-left: 0;
}

.paginate,
.requests-index {
  text-align: center;
}

.pagination > a {
  color: white;
}

.button_to {
  display: inline;
}

.activity-header {
  padding-left: 75px;
  margin-bottom: 30px;
  text-decoration: underline;
}

// @import "bootstrap-sprockets";
// @import "bootstrap";
//
// body {
//   padding-top: 60px;
// }
//
// .center {
//   text-align: center
// }
//
// .center h1 {
//   margin-bottom: 10px;
// }
//
// .center-div {
//   margin: 0 auto;
//   width: 80%;
//   align-items: center;
// }
//
// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
//
// h2 {
//   font-size: 1.5em;
//   letter-spacing: -1px;
//   margin-bottom: 15px;
//   text-align: center;
// }
//
// li.signup {
//   margin-right: 10px;
//   padding-top: -10px;
//   text-transform: uppercase;
// }
//
// #logo {
//   float: left;
//   margin-right: 20px;
//   font-size: 1.7em;
//   text-transform: uppercase;
//   padding-top: 9px;
//   font-weight: bold;
// }
